<template>
  <v-app>
    <section class="grey lighten-3">
      <v-container class="text-center">
        <h2
          class="display-2 font-weight-medium mb-8 mt-7 grey--text text--darken-3"
        >
          FAVORITE RECIPE
        </h2>
        <v-responsive class="mx-auto mb-10" width="140">
          <v-divider class="mb-1" color="deep-orange"></v-divider>
        </v-responsive>
        <v-row v-if="recipeC.length != 0">
          <v-col v-for="recipe in recipeC" :key="recipe.id" cols="12" md="4">
            <card :recipe="recipe" />
          </v-col>
        </v-row>
        <h2
          class="display-1 font-weight-medium grey--text text--darken-3"
          v-else
        >
          NO DATA AVAILABLE TO DISPLAY!!
        </h2>
      </v-container>
      <div class="py-12 "></div>

      <app-fab-button />
      <app-footer />
    </section>
  </v-app>
</template>

<script>
import gql from "graphql-tag";
import getFavoriteRecipe from "~/apollo/recipe/getFavoriteRecipe.gql";
import getFavoriteRecipeId from "~/apollo/favorite/getFavoriteRecipeId.gql";

const GET_FAVORITE_RECIPE_ID = gql`
  ${getFavoriteRecipeId}
`;

const GET_FAVORITE_RECIPE = gql`
  ${getFavoriteRecipe}
`;

export default {
  data() {
    return {
      recipeC: [],
      recipeId: []
    };
  },
  methods: {
    // FUNCTION FOR FETCHING USER FAVORITE RECIPE BASED ON USER ID
    async getFavoriteRecipeId() {
      let fdata = await this.$apollo.query({
        query: GET_FAVORITE_RECIPE_ID,
        variables: {
          userId: this.$store.getters["user/getUserId"]
        }
      });
      console.log(fdata);
      this.recipeId = fdata.data.favorite_recipe;
      this.fetchAllRecipe();
    },

    // FUNCTION FOR FETCHING ALL USER FAVORITE RECIPE
    async fetchAllRecipe() {
      let aData = [];
      for (let i = 0; i < this.recipeId.length; i++) {
        let data = await this.$apollo.query({
          query: GET_FAVORITE_RECIPE,
          variables: {
            id: this.recipeId[i].recipeId
          }
        });
        aData.push(...data.data.recipe);
        this.recipeC.push(...data.data.recipe);
      }
      console.log(this.recipeC);

      this.$store.dispatch("recipe/fetchFavoriteRecipeA", aData);
      console.log(this.$store.getters["recipe/getFavoriteRecipe"]);
    }
  },
  mounted() {
    this.getFavoriteRecipeId();
  }
};
</script>
