<template>
  <div>
    <v-fab-transition>
      <v-btn
        color="orange darken-3"
        fab
        large
        dark
        bottom
        right
        fixed
        @click="route"
      >
        <v-icon large>mdi-plus</v-icon>
      </v-btn>
    </v-fab-transition>
  </div>
</template>

<script>
export default {
  methods: {
    route() {
      this.$router.push(`/home/create_recipe`);
    }
  }
};
</script>
