<template>
  <v-app>
    <v-container>
      <h2
        class="display-2 font-weight-medium mb-8 mt-7 grey--text text--darken-3"
        style="margin-left: 26%"
      >
        NOTIFICATION DASHBOARD
      </h2>
      <v-responsive class="mx-auto mb-10" width="130">
        <v-divider class="mb-1" color="deep-orange"></v-divider>
      </v-responsive>

      <v-card height="auto" width="600px" elevation="12" class="mx-auto mb-12">
        <v-list three-line>
          <template v-for="(item, index) in items">
            <v-divider v-if="item.divider" :key="index" inset></v-divider>

            <v-list-item v-else :key="item.title" ripple>
              <v-list-item-avatar>
                <img :src="item.avatar" />
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title
                  v-html="item.title"
                  class="font-weight-regular body-1"
                ></v-list-item-title>
                <v-list-item-subtitle
                  v-html="item.subtitle"
                  class="font-weight-normal text--darken-3 grey--text"
                ></v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list>
      </v-card>
    </v-container>
    <app-fab-button />
    <app-footer />
  </v-app>
</template>

<script>
import gql from "graphql-tag";
import getLiveRecipe from "~/apollo/recipe/getLiveRecipe.gql";
import fetchPublisherInfo from "~/apollo/subscription/fetchPublisherInfo.gql";

const FETCH_PUBLISHER_INFO = gql`
  ${fetchPublisherInfo}
`;

const GET_LIVE_RECIPE = gql`
  ${getLiveRecipe}
`;

export default {
  data() {
    return {
      recipe: [],
      publisherId: "",
      items: [
        {
          avatar: "https://picsum.photos/250/300?image=660",
          title: "Meeting @ Noon",
          subtitle: `<span class="font-weight-bold">Spike Lee</span> &mdash; I'll be in your neighborhood`
        },
        { divider: true },
        {
          avatar: "https://picsum.photos/250/300?image=821",
          title: 'Summer BBQ <span class="grey--text text--lighten-1"></span>',
          subtitle:
            '<span class="font-weight-bold">to Operations support</span> &mdash; Wish I could come.'
        },
        { divider: true },
        {
          avatar: "https://picsum.photos/250/300?image=783",
          title: "Yes yes",
          subtitle:
            '<span class="font-weight-bold">Bella</span> &mdash; Do you have Paris recommendations'
        },
        { divider: true },
        {
          avatar: "https://picsum.photos/250/300?image=1006",
          title: "Dinner tonight?",
          subtitle:
            '<span class="font-weight-bold">LaToya</span> &mdash; Do you want to hang out?'
        },
        { divider: true },
        {
          avatar: "https://picsum.photos/250/300?image=146",
          title: "So long",
          subtitle:
            '<span class="font-weight-bold">Nancy</span> &mdash; Do you see what time it is?'
        },
        { divider: true },
        {
          avatar: "https://picsum.photos/250/300?image=1008",
          title: "Breakfast?",
          subtitle:
            '<span class="font-weight-bold">LaToya</span> &mdash; Do you want to hang out?'
        },
        { divider: true },
        {
          avatar: "https://picsum.photos/250/300?image=839",
          title:
            'Winter Porridge <span class="grey--text text--lighten-1"></span>',
          subtitle:
            '<span class="font-weight-bold">cc: Daniel</span> &mdash; Tell me more...'
        },
        { divider: true },
        {
          avatar: "https://picsum.photos/250/300?image=145",
          title: "Oui oui",
          subtitle:
            '<span class="font-weight-bold">Nancy</span> &mdash; Do you see what time it is?'
        }
      ]
    };
  },
  created() {
    this.fetchPublisher();
  },
  methods: {
    async fetchPublisher() {
      const data = await this.$apollo.query({
        query: FETCH_PUBLISHER_INFO,
        variables: {
          subscriberId: this.$store.getters["user/getUserId"]
        }
      });

      this.publisherId = data.data.notificationPubSub[0].publisherId;
    }
  },
  apollo: {
    $subscribe: {
      recipe: {
        query: GET_LIVE_RECIPE,
        variables: { userId: this.publisherId },
        result(data) {
          this.recipe = data.data.recipe;
        }
      }
    }
  }
};
</script>
