<template>
  <v-app class="mt-n12">
    <app-author :userInfo="sendAuthorInfo" class="mb-n12" />
    <app-fab-button />
    <app-footer class="mt-n12" />
  </v-app>
</template>
<script>
import gql from "graphql-tag";
import getSpecificAuthor from "~/apollo/subscription/getSpecificAuthor.gql";

const GET_SPECIFIC_AUTHOR = gql`
  ${getSpecificAuthor}
`;

export default {
  layout: "dynamic",
  data() {
    return {
      id: this.$route.params.id,
      userInfo: {}
    };
  },
  computed: {
    // SENDS AUTHOR INFO
    sendAuthorInfo() {
      return this.userInfo;
    }
  },
  methods: {
    // FETCH SPECIFIC AUTHOR TO BE DISPLAYED
    async fetchAuthor() {
      let variables = {
        userId: this.id
      };

      let data = await this.$apollo.query({
        query: GET_SPECIFIC_AUTHOR,
        variables
      });

      this.userInfo = { ...data.data.user[0], userId: this.id };
      console.log(this.userInfo);
    }
  },
  created() {
    this.fetchAuthor();
  }
};
</script>

<style>
.v-application--wrap {
  min-height: 58vh !important;
}
</style>
