<template>
  <v-app dark>
    <section class="layout mt-n12 grey lighten-4">
      <v-container fluid>
        <v-row justify="center" class="mb-8">
          <v-col cols="12" md="6">
            <v-sheet
              elevation="12"
              class="pa-12"
              color="grey lighten-5"
              width="740"
            >
              <v-alert
                text
                dense
                type="success"
                :value="alert"
                transition="scale-transition"
                >You edited a Recipe Successfully!!</v-alert
              >
              <div
                class="mt-n4 text-center display-3 font-weight-medium mb-4  text-capitalize grey--text text--darken-3"
              >
                Edit Recipe
              </div>

              <div class="text-center mb-6 grey--text text--darken-3">
                Food ought to be enjoyable!
              </div>
              <v-divider color="orange"></v-divider>
              <div class="mb-6"></div>
              <v-text-field
                label="Title"
                autofocus
                required
                placeholder="Enter Recipe title"
                :clearable="clearable"
                prepend-inner-icon="mdi-format-title"
                clear-icon="mdi-close-box-multiple-outline"
                color="green darken-4"
                class="mt-2"
                v-model="title"
              ></v-text-field>
              <v-textarea
                auto-grow
                prepend-icon="mdi-text-box"
                placeholder="Enter Recipe Description"
                :clearable="clearable"
                clear-icon="mdi-close-box-multiple-outline"
                color="green darken-4"
                label="Description"
                rows="1"
                v-model="description"
              ></v-textarea>
              <v-select
                :clearable="clearable"
                prepend-icon="mdi-order-bool-ascending-variant"
                clear-icon="mdi-close-box-multiple-outline"
                :items="types"
                label="Choose Type"
                color="green darken-4"
                v-model="type"
              ></v-select>
              <v-select
                :clearable="clearable"
                prepend-icon="mdi-order-bool-ascending-variant"
                clear-icon="mdi-close-box-multiple-outline"
                :items="items"
                label="Choose Difficulty"
                color="green darken-4"
                v-model="difficulty"
              ></v-select>

              <v-text-field
                label="Number of Servant"
                prepend-icon="mdi-account-multiple-plus-outline"
                required
                placeholder="Enter Number of Servant"
                :clearable="clearable"
                clear-icon="mdi-close-box-multiple-outline"
                color="green darken-4"
                class="mt-2"
                min="1"
                type="number"
                style="width: 280px"
                v-model="numberServant"
              ></v-text-field>

              <v-row align="center">
                <v-col class="d-flex" cols="12" sm="6">
                  <v-select
                    :clearable="clearable"
                    prepend-icon="mdi-order-bool-ascending-variant"
                    clear-icon="mdi-close-box-multiple-outline"
                    :items="time"
                    label="Choose Time Measurement"
                    color="green darken-4"
                    v-model="prepTimeC"
                  ></v-select>
                </v-col>

                <v-col class="d-flex" cols="12" sm="6">
                  <v-text-field
                    label="Preparation Time"
                    prepend-icon="mdi-timer-outline"
                    required
                    placeholder="Enter Recipe Preparation Time"
                    :clearable="clearable"
                    clear-icon="mdi-close-box-multiple-outline"
                    color="green darken-4"
                    min="0"
                    type="number"
                    class="mt-2"
                    style="width: 280px"
                    v-model="prepTime"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row
                v-for="(ingredient, i) in ingredients"
                :key="i"
                align="center"
                justify="space-around"
              >
                <v-col cols="4">
                  <v-text-field
                    label="Ingredient Name"
                    required
                    prepend-icon="mdi-package"
                    placeholder="Enter Ingredient Name"
                    :clearable="clearable"
                    clear-icon="mdi-close-box-multiple-outline"
                    color="green darken-4"
                    class="mt-2"
                    v-model="ingredient.name"
                  ></v-text-field>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    label="Quantity"
                    required
                    prepend-icon="mdi-size-s"
                    placeholder="Enter Ingredient Quantity"
                    :clearable="clearable"
                    clear-icon="mdi-close-box-multiple-outline"
                    color="green darken-4"
                    class="mt-2"
                    type="number"
                    min="0.25"
                    step="0.25"
                    v-model="ingredient.quantity"
                  ></v-text-field>
                </v-col>
                <v-col cols="3">
                  <v-select
                    :clearable="clearable"
                    prepend-icon="mdi-order-bool-ascending-variant"
                    clear-icon="mdi-close-box-multiple-outline"
                    :items="quantity"
                    label="Choose Measurement"
                    color="green darken-4"
                    v-model="ingredient.quantityM"
                  ></v-select>
                </v-col>
                <v-col class="mt-n4">
                  <v-btn
                    outlined
                    x-small
                    color="green darken-2"
                    icon
                    class="mr-2"
                    @click="addIngredient(i)"
                    v-show="i == ingredients.length - 1"
                  >
                    <v-icon>mdi-plus</v-icon></v-btn
                  >
                  <v-btn
                    outlined
                    x-small
                    color="red darken-2"
                    icon
                    @click="removeIngredient(i)"
                    v-show="i || (!i && ingredients.length > 1)"
                  >
                    <v-icon>mdi-alpha-x</v-icon></v-btn
                  >
                </v-col>
              </v-row>
              <v-row
                v-for="(step, k) in steps"
                :key="'i' + k"
                align="center"
                class="ml-n3 mt-n3"
              >
                <v-col cols="10" class="mr-0">
                  <v-text-field
                    label="Instruction (step)"
                    required
                    prepend-icon="mdi-debug-step-into"
                    placeholder="Enter the Instruction (step)"
                    :clearable="clearable"
                    clear-icon="mdi-close-box-multiple-outline"
                    color="green darken-4"
                    class="mt-2"
                    v-model="step.instruction"
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-btn
                    outlined
                    x-small
                    color="green darken-2"
                    icon
                    class="mr-3"
                    @click="addStep(k)"
                    v-show="k == steps.length - 1"
                  >
                    <v-icon>mdi-plus</v-icon></v-btn
                  >
                  <v-btn
                    outlined
                    x-small
                    color="red darken-2"
                    icon
                    @click="removeStep(k)"
                    v-show="k || (!k && steps.length > 1)"
                  >
                    <v-icon>mdi-minus</v-icon></v-btn
                  >
                </v-col>
              </v-row>
              <v-row align="center" justify="space-around">
                <v-col>
                  <v-file-input
                    accept="image/*"
                    :clearable="clearable"
                    multiple
                    prepend-icon="mdi-upload-multiple"
                    clear-icon="mdi-close-box-multiple-outline"
                    color="green darken-4"
                    label="Recipe Image"
                    placeholder="Select Recipe Image"
                    show-size
                    v-model="recipeImageUpload"
                    @change="handleMultipleImage"
                  >
                    <template v-slot:selection="{ text }">
                      <v-chip color="green darken-4" dark label small>
                        {{ text }}
                      </v-chip>
                    </template>
                  </v-file-input>
                </v-col>
              </v-row>

              <div class="mt-4"></div>

              <v-btn class="btnMar" outlined text red darken-2 @click="cancel"
                >Cancel</v-btn
              >

              <v-btn
                outlined
                text
                color="orange darken-3"
                @click="editRecipe"
                :disabled="buttonValidationA"
              >
                Save
              </v-btn>
            </v-sheet>
          </v-col>
        </v-row>
      </v-container>
    </section>
    <app-footer />
  </v-app>
</template>

<script>
import gql from "graphql-tag";
import updateRecipe from "~/apollo/recipe/updateRecipe.gql";
import updateIngredient from "~/apollo/ingredient/updateIngredient.gql";
import updateStep from "~/apollo/step/updateStep.gql";
import uploadRecipeImage from "~/apollo/image/uploadRecipeImage.gql";
import deleteRecipeImage from "~/apollo/image/deleteRecipeImage.gql";

const UPDATE_RECIPE = gql`
  ${updateRecipe}
`;
const UPDATE_INGREDIENT = gql`
  ${updateIngredient}
`;
const UPDATE_STEP = gql`
  ${updateStep}
`;
const INSERT_RECIPE_IMAGE = gql`
  ${uploadRecipeImage}
`;
const DELETE_RECIPE_IMAGE = gql`
  ${deleteRecipeImage}
`;

export default {
  data() {
    return {
      id: parseInt(this.$route.params.id),
      alert: false,
      clearable: true,
      items: ["Easy", "Medium", "Hard"],
      title: "",
      description: "",
      difficulty: "",
      numberServant: "",
      prepTime: "",
      recipeImageUpload: null,
      ingredients: [],
      steps: [],
      type: "",
      prepTimeC: "",
      recipeImage: [],
      time: ["Hour", "Minute"],
      quantity: ["Kg", "g", "L", "ml", "Tea Spoon"],
      types: [
        "General",
        "Soup",
        "Salads",
        "Appetizers",
        "Dessert",
        "Lunch",
        "Breakfast",
        "Dinner",
        "Pizza",
        "Noodles",
        "Burgers",
        "Chicken"
      ],
      recipe: []
    };
  },
  methods: {
    // FUNCTION TO RESET ALL INPUT FIELDS AFTER INSERTING
    resetFields() {
      this.prepTimeC = "";
      this.title = "";
      this.description = "";
      this.recipeImageUpload = null;
      this.difficulty = "";
      this.numberServant = "";
      this.rating = 0;
      this.ingredients = [{ name: "", quantity: "", quantityM: "" }];
      this.steps = [{ instruction: "" }];
      this.prepTime = "";
      this.recipeImage = [];
      this.type = "";
    },

    // FUNCTION TO FILTER OUT REQUIRED RECIPE TO EDIT
    filterRecipe(recipe) {
      let fRecipe = recipe.filter(el => {
        return el.id === this.id;
      });
      return fRecipe;
    },
    // FUNCTION TO POPULATE THE DATA TO BE EDITED IN THE INPUT FIELDS (TEXT FIELD, TEXT AREAS)
    addToEditFields() {
      let recipe = [];
      let hRecipe = this.$store.getters["recipe/getHomeRecipe"];
      let sRecipe = this.$store.getters["recipe/getSearchedRecipe"];
      let yRecipe = this.$store.getters["recipe/getRecipe"];

      hRecipe = this.filterRecipe(hRecipe);
      sRecipe = this.filterRecipe(sRecipe);
      yRecipe = this.filterRecipe(yRecipe);

      if (hRecipe.length != 0) recipe = hRecipe;
      else if (sRecipe.length != 0) recipe = sRecipe;
      else recipe = yRecipe;

      console.log(recipe);
      this.recipe = recipe;

      let time = recipe[0].prepTime.split(" ");

      for (let i = 0; i < recipe[0].ingredients.length; i++) {
        let ing = recipe[0].ingredients[i].quantity.split(" ");
        this.ingredients.push({
          name: recipe[0].ingredients[i].name,
          quantity: ing[0],
          quantityM: ing[1]
        });
      }

      for (let i = 0; i < recipe[0].steps.length; i++) {
        this.steps.push({ instruction: recipe[0].steps[i].step });
      }

      this.prepTimeC = time[1];
      this.title = recipe[0].title;
      this.description = recipe[0].description;
      this.difficulty = recipe[0].difficulty;
      this.numberServant = recipe[0].numberServant;
      this.prepTime = time[0];
      this.type = recipe[0].type;
    },

    //FUNCTION TO EDIT THE GIVEN RECIPE
    async editRecipe() {
      let result = confirm("Are sure you want to Edit this Recipe?");
      if (result) {
        let rData = [];

        this.prepTime = `${this.prepTime} ${this.prepTimeC}`;
        let variables = {
          id: this.id,
          title: this.title.toLowerCase(),
          description: this.description,
          difficulty: this.difficulty,
          prepTime: this.prepTime,
          numberServant: this.numberServant,
          type: this.type
        };

        // UPDATING THE DATABASE WITH THE NEW EDITED RECIPE
        const data = await this.$apollo.mutate({
          mutation: UPDATE_RECIPE,
          variables
        });

        // FOR INGREDIENT
        if (data.data.update_recipe_by_pk.id) {
          for (let i = 0; i < this.ingredients.length; i++) {
            this.ingredients[
              i
            ].quantity = `${this.ingredients[i].quantity} ${this.ingredients[i].quantityM}`;

            variables = {
              id: this.recipe[0].ingredients[i].id,
              name: this.ingredients[i].name,
              quantity: this.ingredients[i].quantity
            };
            console.log(this.recipe);
            console.log(variables);
            await this.$apollo.mutate({
              mutation: UPDATE_INGREDIENT,
              variables
            });
          }

          // FOR STEP
          for (let j = 0; j < this.steps.length; j++) {
            variables = {
              id: this.recipe[0].steps[j].id,
              step: this.steps[j].instruction
            };

            await this.$apollo.mutate({
              mutation: UPDATE_STEP,
              variables
            });
          }

          for (let l = 0; l < this.recipe[0].recipe_images.length; l++) {
            variables = {
              id: this.recipe[0].recipe_images[l].id
            };

            await this.$apollo.mutate({
              mutation: DELETE_RECIPE_IMAGE,
              variables
            });
          }

          // FOR IMAGES
          for (let k = 0; k < this.recipeImage.length; k++) {
            variables = {
              image: this.recipeImage[k],
              recipeId: this.id
            };

            let photo = await this.$apollo.mutate({
              mutation: INSERT_RECIPE_IMAGE,
              variables
            });
            rData.push(photo.data.uploadRecipeImage);
          }
        }

        this.alert = true;

        let mIngredients = [];

        for (let m = 0; m < this.ingredients.length; m++) {
          mIngredients.push({
            name: this.ingredients[m].name,
            quantity: this.ingredients[m].quantity
          });
        }

        const user = {
          userId: this.$store.getters["user/getUserId"],
          username: this.$store.getters["user/getUsername"],
          photoPath: this.$store.getters["user/getPhotoPath"]
        };

        // DATA TO BE CHANGE THE STATE OLD SIMILAR RECIPE (EDITED RECIPE)

        let allData = {
          ingredients: mIngredients,
          steps: this.steps,
          recipeImages: rData,
          id: this.id,
          title: this.title,
          description: this.description,
          difficulty: this.difficulty,
          prepTime: this.prepTime,
          numberServant: this.numberServant,
          type: this.type,
          user
        };

        // CHANGING THE STATE
        let payload = { id: this.id, newRecipe: allData };
        this.$store.dispatch("recipe/editRecipeA", payload);
        this.$router.push("/home/recipes");
      }
    },

    // FUNCTION TO ADD DYNAMIC INGREDIENT FOR INPUT FIELDS
    addIngredient() {
      this.ingredients.push({ name: "", quantity: "", quantityM: "" });
    },

    // FUNCTION TO REMOVE INGREDIENT INPUT FIELDS THAT IS ADDED
    removeIngredient(index) {
      this.ingredients.splice(index, 1);
    },

    // FUNCTION TO ADD DYNAMIC STEPS FOR INPUT FIELDS
    addStep() {
      this.steps.push({ instruction: "" });
    },

    // FUNCTION TO REMOVE STEP INPUT FIELDS
    removeStep(index) {
      this.steps.splice(index, 1);
    },

    cancel() {
      this.resetFields();
    },

    // FUNCTION FOR TAKING SELECTED IMAGE FILE AND PASS TO ANOTHER FUNCTION
    handleMultipleImage(e) {
      const selectedImage = e;
      for (let i = 0; i < e.length; i++) {
        this.createBase64Image(selectedImage[i]);
      }
    },

    // FUNCTION FOR CREATING BASE 64 TYPE IMAGE FILE
    createBase64Image(fileObject) {
      const reader = new FileReader();

      reader.onload = e => {
        this.recipeImage.push(e.target.result);
      };

      reader.readAsDataURL(fileObject);
    }
  },
  computed: {
    // VALIDATION FOR BUTTON SAVE - DEACTIVATE UNTIL CERTAIN FIELDS ARE INSERTED
    buttonValidationA() {
      if (this.title && this.description && this.recipeImageUpload) {
        return false;
      }
      return true;
    }
  },
  mounted() {
    this.addToEditFields();
  }
};
</script>

<style scoped>
.btnMar {
  margin-left: 452px;
  margin-right: 20px;
}
</style>
