<template>
  <div>
    <v-container
      class="text-center"
      v-bind:style="[
        $route.path == '/home/aboutus'
          ? { 'margin-top': '125px' }
          : { 'margin-top': '1px' }
      ]"
    >
      <h2 class="display-2 font-weight-medium mb-3 grey--text text--darken-3">
        ABOUT US
      </h2>

      <v-responsive class="mx-auto mb-10" width="70">
        <v-divider class="mb-1" color="deep-orange"></v-divider>
      </v-responsive>

      <v-responsive
        class="mx-auto title font-weight-regular mb-8 text-justify grey--text text--darken-3"
        max-width="720"
      >
        Gebeta is the leading number one online recipe service of everyone in
        the world. It gives access to local recipe to most known recipe and
        accounts to create new recipe and to share to the world and get feedback
        about it. You are welcome to get most out of from this platform. Thank
        you!!
      </v-responsive>

      <v-avatar class="elevation-12 mb-12" size="128">
        <v-img :src="favicon"></v-img>
      </v-avatar>
    </v-container>

    <v-container class="text-center" v-if="$route.path === '/home/aboutus'">
      <h3 class="display-2 font-weight-regular mb-3 grey--text text--darken-3">
        ABOUT WEBSITE
      </h3>

      <v-responsive class="mx-auto mb-10" width="70">
        <v-divider class="mb-1" color="deep-orange"></v-divider>
      </v-responsive>

      <v-responsive
        class="mx-auto title font-weight-regular mb-8 text-justify grey--text text--darken-3"
        max-width="720"
      >
        This platform developed by the IT Department. Thank you for using it!!
      </v-responsive>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      favicon: `${require("@/static/favicon.png")}`
    };
  }
};
</script>

<style scoped></style>
