<template>
  <v-app class="mt-n12 grey lighten-3">
    <section class="grey lighten-3 mt-n12">
      <v-avatar size="160" class="ml-12 avatar" elevation="12">
        <v-img
          :src="userInfo.photoPath"
          class=""
          contain
          height="auto"
          width="auto"
        />
      </v-avatar>
      <v-card
        class="mx-auto mt-n12 card grey lighten-3"
        height="auto"
        width="400px"
        elevation="12"
      >
        <v-card-title class="justify-center mb-n2">{{
          userInfo.username
        }}</v-card-title>
        <v-divider class="mx-4" color="orange"></v-divider>
        <v-card-text>
          <div class="body-1 text grey--text  text--darken-4">
            <v-icon size="20" class="mr-2" color="orange darken-3"
              >mdi-email-plus-outline</v-icon
            >• {{ userInfo.email }}
          </div>
          <div class="mt-2"></div>
          <div class="body-1 grey--text   text--darken-4">
            <v-icon size="20" class="mr-2" color="orange darken-3"
              >mdi-food</v-icon
            >• Created
            {{
              userInfo.recipes_aggregate
                ? userInfo.recipes_aggregate.aggregate.count
                : 0
            }}
            Recipe. If you interested in me,please subscribe to receive
            notification as soon as a new Recipe is Created.
          </div>
        </v-card-text>

        <v-divider class="mx-4" color="orange"></v-divider>

        <v-card-title class="justify-center"> Contact Me</v-card-title>

        <v-card-text>
          <a
            v-for="icon in icons"
            :key="icon.id"
            :href="icon.to"
            style="text-decoration: none"
            target="_blank"
          >
            <v-btn class="mx-4 grey--text text--lighten-1 text-end " icon>
              <v-icon color="orange darken-3" size="24px">{{
                icon.icon
              }}</v-icon>
            </v-btn>
          </a>
        </v-card-text>
        <v-divider class="mx-4" color="orange"></v-divider>
        <v-card-actions class="justify-end">
          <v-btn
            color="orange darken-3"
            small
            outlined
            v-show="validButton"
            @click="subscriptionAction()"
          >
            Subscribe
          </v-btn>
          <v-btn
            color="grey darken-3"
            small
            text
            outlined
            @click="unsubscribeAction()"
            v-show="!validButton"
          >
            Unsubscribe
          </v-btn>
        </v-card-actions>
        <v-snackbar
          v-model="snackbar"
          top
          timeout="6000"
          color="green darken-3"
        >
          You are subscribed successfully. Please Check your notification
          daily!!

          <template v-slot:action="{ attrs }">
            <v-btn color="white" text v-bind="attrs" @click="snackbar = false">
              Close
            </v-btn>
          </template>
        </v-snackbar>
        <v-snackbar v-model="snackbarS" top timeout="6000" color="red darken-3">
          You are Unsubscribed successfully!!

          <template v-slot:action="{ attrs }">
            <v-btn color="white" text v-bind="attrs" @click="snackbarS = false">
              Close
            </v-btn>
          </template>
        </v-snackbar>
      </v-card>
    </section>
  </v-app>
</template>
<script>
import gql from "graphql-tag";
import addSubscription from "~/apollo/subscription/addSubscription.gql";
import fetchSubscriptionInfo from "~/apollo/subscription/fetchSubscriptionInfo.gql";
import deleteSubscription from "~/apollo/subscription/deleteSubscription.gql";

const DELETE_SUBSCRIPTION = gql`
  ${deleteSubscription}
`;

const FETCH_SUBSCRIPTION_INFO = gql`
  ${fetchSubscriptionInfo}
`;

const ADD_SUBSCRIPTION = gql`
  ${addSubscription}
`;

export default {
  layout: "dynamic",
  data() {
    return {
      snackbar: false,
      validButton: true,
      snackbarS: false,
      icons: [
        {
          icon: "mdi-facebook-box",
          to: "https://www.facebook.com/"
        },
        {
          icon: "mdi-twitter-box",
          to: "https://www.twitter.com/"
        },
        {
          icon: "mdi-google-plus-box",
          to: "https://www.plus.google.com/"
        },
        {
          icon: "mdi-linkedin-box",
          to: "https://www.linkedin.com/"
        },
        {
          icon: "mdi-instagram",
          to: "https://www.instagram.com/"
        }
      ]
    };
  },
  props: {
    userInfo: {
      type: Object,
      required: true
    }
  },
  methods: {
    // ADD SUBSCRIPTION IF THE USER IS NOT SUBSCRIBE YET
    async subscriptionAction() {
      let variables = {
        publisherId: this.userInfo.userId,
        subscriberId: this.$store.getters["user/getUserId"]
      };

      await this.$apollo.mutate({
        mutation: ADD_SUBSCRIPTION,
        variables
      });

      this.snackbar = true;
    },

    // CHECK IF THE USER IS SUBSCRIBE OR NOT (ONLY CAN SUBSCRIBE IF IT DOES NOT SUBSCRIBE YET)
    async checkSubscription() {
      let variables = {
        publisherId: this.userInfo.userId
      };

      console.log(this.getId);
      console.log(variables);

      const data = await this.$apollo.query({
        query: FETCH_SUBSCRIPTION_INFO,
        variables
      });

      console.log(data.data.notificationPubSub);
      let fData = data.data.notificationPubSub;
      for (let i = 0; i < fData.length; i++) {
        if (fData[i].subscriberId === this.$store.getters["user/getUserId"])
          this.validButton = false;
        else this.validButton = true;
      }
    },

    // DELETES USER SUBSCRIPTION IF THE THERE IS
    async unsubscribeAction() {
      let variables = {
        publisherId: this.userInfo.userId,
        subscriberId: this.$store.getters["user/getUserId"]
      };

      const data = await this.$apollo.mutate({
        mutation: DELETE_SUBSCRIPTION,
        variables
      });
      if (data.data.delete_notificationPubSub.returning[0].subscriberId)
        this.snackbarS = true;
    }
  },
  computed: {
    getId() {
      return this.userInfo.userId;
    }
  }
};
</script>
<style scoped>
.v-application .my-12 {
  margin-top: -166px !important;
}

.v-application .mb-4 {
  margin-bottom: 32px !important;
}

.avatar {
  margin-left: 600px !important;
  margin-top: -210px;
}

.card {
  margin-top: -100px;
}
</style>
