<template>
  <v-footer dark padless>
    <v-card
      flat
      tile
      class="grey darken-3 white--text text-center"
      width="1366px"
    >
      <v-card-text class="grey--text text--lighten-1 pt-0">
        <p class=" title font-weight-regular text-start">CONTACT US</p>
        <a
          v-for="icon in icons"
          :key="icon.id"
          :href="icon.to"
          style="text-decoration: none"
          target="_blank"
        >
          <v-btn class="mx-4 grey--text text--lighten-1 text-end " icon>
            <v-icon size="24px">{{ icon.icon }}</v-icon>
          </v-btn>
        </a>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-text class="title font-weight-light grey--text text--lighten-1">
        Copyright &copy; {{ new Date().getFullYear() }} — by Gebeta Recipe Web
        App. All rights reserved
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  data: () => ({
    icons: [
      {
        icon: "mdi-facebook-box",
        to: "https://www.facebook.com/"
      },
      {
        icon: "mdi-twitter-box",
        to: "https://www.twitter.com/"
      },
      {
        icon: "mdi-google-plus-box",
        to: "https://www.plus.google.com/"
      },
      {
        icon: "mdi-linkedin-box",
        to: "https://www.linkedin.com/"
      },
      {
        icon: "mdi-instagram",
        to: "https://www.instagram.com/"
      }
    ]
  })
};
</script>
