<template>
  <v-app>
    <div></div>
    <section class="grey lighten-3 mt-n12">
      <div class="py-4"></div>
      <v-container class="text-center">
        <h2 class="display-2 font-weight-medium mb-3 grey--text text--darken-3">
          TOP 6 RATED RECIPES
        </h2>
        <v-responsive class="mx-auto mb-10" width="70">
          <v-divider class="mb-1" color="deep-orange"></v-divider>
        </v-responsive>

        <v-row v-if="recipe.length != 0">
          <v-col v-for="recipe in recipe" :key="recipe.id" cols="12" md="4">
            <home-card :recipe="recipe" />
          </v-col>
        </v-row>
      </v-container>
      <div class="py-12 "></div>
    </section>
  </v-app>
</template>

<script>
import gql from "graphql-tag";
import getRecipeForHome from "~/apollo/recipe/getRecipeForHome.gql";

const GET_RECIPE_FOR_HOME = gql`
  ${getRecipeForHome}
`;

export default {
  data() {
    return {
      recipe: []
    };
  },
  methods: {
    // FETCH ALL RECIPE AND IDENTIFY RECIPE THAT HAVE TOP RATED RECIPE
    async fetchAllRecipe() {
      const data = await this.$apollo.query({
        query: GET_RECIPE_FOR_HOME
      });

      this.recipe = data.data.recipe;

      this.recipe.sort((prev, next) => {
        return next.recipeRating - prev.recipeRating;
      });

      this.recipe.splice(6, this.recipe.length);
      console.log(this.recipe);
    }
  },

  created() {
    this.fetchAllRecipe();
  }
};
</script>

<style>
.app {
  margin-top: -10px;
}
</style>
