<template>
  <v-app>
    <div></div>
    <section class="grey lighten-3 mt-n12">
      <div class="py-4"></div>

      <v-container class="text-center">
        <h2 class="display-2 font-weight-medium mb-3 grey--text text--darken-3">
          ALL AVAILABLE RECIPE
        </h2>
        <v-responsive class="mx-auto mb-10" width="70">
          <v-divider class="mb-1" color="deep-orange"></v-divider>
        </v-responsive>

        <v-row v-if="recipeC.length != 0">
          <v-col v-for="recipe in recipeC" :key="recipe.id" cols="12" md="4">
            <card :recipe="recipe" />
          </v-col>
        </v-row>
        <h2
          class="display-1 font-weight-medium grey--text text--darken-3"
          v-else
        >
          NO DATA AVAILABLE TO DISPLAY!!
        </h2>
      </v-container>
      <div class="py-12 "></div>
      <div class="text-center mb-12 mt-n9">
        <v-pagination
          v-model="page"
          :length="paginationLength"
          circle
          @input="nextPageRecipe(page)"
          color="orange darken-3"
        ></v-pagination>
      </div>
    </section>
  </v-app>
</template>

<script>
import gql from "graphql-tag";
import getAllRecipe from "~/apollo/recipe/getAllRecipe.gql";
import getAllPaginateRecipe from "~/apollo/recipe/getAllPaginateRecipe.gql";

const GET_ALL_RECIPE = gql`
  ${getAllRecipe}
`;

const GET_ALL_PAGINATE_RECIPE = gql`
  ${getAllPaginateRecipe}
`;

export default {
  data() {
    return {
      defaultImage: require("@/assets/images/default.jpg"),
      page: 1,
      paginationLength: 1,
      limit: 5,
      offset: 0,
      recipeC: []
    };
  },
  methods: {
    // FUNCTION FOR FETCHING SPECIFIED DATA IN FIRST PAGE AND ADDED TO STATE
    async getPaginateRecipe() {
      try {
        let variables = {
          limit: this.limit,
          offset: this.offset
        };

        let data = await this.$apollo.query({
          query: GET_ALL_PAGINATE_RECIPE,
          variables
        });

        this.recipeC = data.data.recipe;

        this.$store.dispatch("recipe/setHomeRecipeA", data.data.recipe);
        console.log(this.$store.getters["recipe/getHomeRecipe"]);
        this.fetchAllRecipe();
      } catch (error) {
        window.location.reload();
      }
    },

    // FUNCTION FOR FETCHING PAGINATE DATA IN SUBSEQUENT PAGES AND SETTING STATE
    async nextPageRecipe(page) {
      this.page = page;
      this.offset = (page - 1) * this.limit;
      this.recipeC = [];

      let variables = {
        offset: this.offset,
        limit: this.limit
      };

      let data = await this.$apollo.query({
        query: GET_ALL_PAGINATE_RECIPE,
        variables
      });

      for (let i = 0; i < data.data.recipe.length; i++) {
        this.recipeC.push(data.data.recipe[i]);
      }

      this.$store.dispatch("recipe/setHomeRecipeA", data.data.recipe);
      console.log(this.$store.getters["recipe/getHomeRecipe"]);
    },

    // FUNCTION FOR FETCHING ALL RECIPE FOR PAGINATION PURPOSE (TO CALCULATE PAGINATION LENGTH)
    async fetchAllRecipe() {
      let data = await this.$apollo.query({
        query: GET_ALL_RECIPE
      });

      this.paginationLength = Math.ceil(data.data.recipe.length / this.limit);
    }
  },
  created() {
    this.getPaginateRecipe();
  }
};
</script>

<style>
.app {
  margin-top: -10px;
}
.linkA {
  text-decoration: none;
}
</style>
