<template>
  <v-app class="mt-n12">
    <section class="grey lighten-3 mt-n12">
      <v-card class="mx-auto my-12" height="auto" width="800px" elevation="12">
        <v-row dense>
          <v-col cols="12">
            <v-theme-provider dark>
              <div>
                <v-img
                  class="mt-2 mx-3"
                  :src="currentImage"
                  height="320"
                  width="auto"
                ></v-img>
              </div>
            </v-theme-provider>
          </v-col>
        </v-row>
        <v-row dense class="mx-2">
          <v-col
            v-for="(image, index) in loadRecipe.recipe_images"
            :key="image.id"
            cols="3"
            @click="activateImage(index)"
          >
            <v-img
              :src="image.path"
              class="white--text align-end mt-n1 mr-n1"
              height="100px"
            >
            </v-img>
          </v-col>
        </v-row>
        <v-card-title
          class="text-uppercase font-weight-bold grey--text text--darken-3 display-2 justify-center mb-9"
          >{{ loadRecipe.title }}</v-card-title
        >

        <v-card-actions>
          <v-row align="center" justify="space-between" class="mx-2">
            <v-col class="mt-n3 ml-auto" cols="6" md="4">
              <span
                class="grey--text text--darken-3 font-weight-medium headline ml-0"
              >
                Difficulty
              </span>
              <br />
              <span class="grey--text text--darken-3  subtitle-2 ml-auto">{{
                loadRecipe.difficulty
              }}</span>
            </v-col>
            <v-spacer></v-spacer>
            <v-col class="mt-n12 ml-auto" cols="6" md="4">
              <span
                class="grey--text text--darken-3 font-weight-medium headline ml-0"
              >
                No of Servant
              </span>
              <br />
              <span class="grey--text text--darken-3  subtitle-2">{{
                loadRecipe.numberServant
              }}</span>
            </v-col>
            <v-spacer></v-spacer>
            <v-col cols="6" md="4" class="mt-n6 mr-n12">
              <span
                class="grey--text text--darken-3 font-weight-medium headline ml-6"
              >
                Rating
              </span>
              <v-rating
                :value="loadRecipe.recipeRating"
                background-color="orange darken-2"
                color="orange darken-3"
                half-increments
                readonly
                dense
                hover
                size="22"
              ></v-rating>
            </v-col>
          </v-row>
        </v-card-actions>
        <v-row align="center" justify="space-between" class="mx-2 my-2">
          <v-col md="4" cols="6" class="ml-2">
            <span class="grey--text text--darken-3 font-weight-medium headline">
              Preparation Time
            </span>
            <br />
            <span class="grey--text text--darken-3  subtitle-2">{{
              loadRecipe.prepTime
            }}</span>
          </v-col>
          <v-col md="4" cols="6" class="mr-12 ml-n12 center">
            <span class="grey--text text--darken-3 font-weight-medium headline">
              Type
            </span>
            <br />
            <span class="grey--text text--darken-3  subtitle-2">{{
              loadRecipe.type
            }}</span>
          </v-col>
          <v-col v-show="checkAuthorIdentity" md="4" cols="6" class="ml-2">
            <span class="grey--text text--darken-3 font-weight-medium headline">
              Author
            </span>
            <br /><br />
            <nuxt-link
              class="font-weight-regular linkA orange--text text--darken-3"
              :to="'/home/author/' + singleRecipe.user.userId"
            >
              Click here for more information.
            </nuxt-link>
          </v-col>
        </v-row>
        <v-divider inset color="grey"></v-divider>

        <v-card-title
          class="grey--text text--darken-3 font-weight-medium headline ml-3"
          >Description</v-card-title
        >

        <v-card-text class="ml-3">
          <v-responsive
            class="mx-auto title font-weight-regular mb-8 text-justify grey--text text--darken-3"
            max-width="620"
          >
            {{ loadRecipe.description }}
          </v-responsive>
        </v-card-text>
        <v-divider color="grey" inset></v-divider>

        <v-card-title
          class="grey--text text--darken-3 font-weight-medium headline ml-3"
          >Ingredient</v-card-title
        >

        <v-card-text class="ml-3 text-justify">
          <v-list>
            <v-list-item v-for="ing in loadRecipe.ingredients" :key="ing.id">
              <v-list-item-title
                >Name - {{ ing.name }} <v-divider class=" my-1"></v-divider>
                <v-spacer class="mb-2"></v-spacer> Quantity -
                {{ ing.quantity }} <v-divider class="my-4"></v-divider
              ></v-list-item-title>
            </v-list-item>
          </v-list>
        </v-card-text>
        <v-divider color="grey" inset></v-divider>
        <v-card-title
          class="grey--text text--darken-3 font-weight-medium headline ml-3"
          >Step</v-card-title
        >

        <v-card-text class="ml-3 text-justify">
          <v-list>
            <v-list-item v-for="(ste, index) in loadRecipe.steps" :key="ste.id">
              <v-list-item-title
                >{{ index + 1 }} - {{ ste.step }}
                <v-divider class=" my-2" />
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-card-text>

        <v-divider color="grey" inset></v-divider>
        <v-card-title
          v-show="ratingValidation"
          class="grey--text text--darken-3 font-weight-medium headline ml-4"
          >Rate The Recipe</v-card-title
        >
        <v-dialog v-show="ratingValidation" v-model="dialog" width="300">
          <template v-slot:activator="{ on }">
            <v-btn
              small
              dense
              raised
              elevation="3"
              color="orange darken-3"
              class="align-self-end white--text ma-2 ml-12"
              align="center"
              v-show="ratingValidation"
              v-on="on"
            >
              Click to Rate
            </v-btn>
          </template>

          <v-card class="elevation-16 mx-auto">
            <v-card-title class="headline" primary-title>
              Rate Recipe
            </v-card-title>
            <v-card-text>
              What do you think about this Recipe?. Rate what you feel, It
              really helps!

              <div class="text-center mt-4">
                <v-rating
                  v-model="rating"
                  color="orange darken-3"
                  background-color="orange darken-3"
                  half-increments
                  hover
                  size="25"
                ></v-rating>
              </div>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions class="justify-space-between">
              <v-btn text @click="dialog = false">No Thanks</v-btn>
              <v-btn
                color="orange darken-3"
                text
                @click="addRating(loadRecipe.id)"
              >
                Rate Now
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-divider
          v-show="ratingValidation"
          color="grey"
          inset
          class="mt-6 mb-2"
        ></v-divider>

        <v-card-actions class="ml-3">
          <div class="btnmar" v-show="settingValidation">
            <v-btn
              class="white--text ma-2"
              color="green darken-3"
              raised
              @click="toEditRoute(loadRecipe.id)"
            >
              Edit Recipe
            </v-btn>

            <v-btn
              class="white--text ma-2"
              color="red darken-3"
              raised
              @click="
                deleteRecipe(loadRecipe.id);
                activateSnackBarD();
              "
            >
              Delete Recipe
            </v-btn>
            <v-snackbar
              timeout="3000"
              v-model="snackbarD"
              top
              color="red darken-3"
            >
              RECIPE DELETED!!
              <template v-slot:action="{ attrs }">
                <v-btn
                  color="white"
                  text
                  v-bind="attrs"
                  @click="snackbarD = false"
                >
                  Close
                </v-btn>
              </template>
            </v-snackbar>
          </div>
        </v-card-actions>
        <v-divider
          inset
          v-show="settingValidation"
          color="grey"
          class="mt-4 mb-2"
        ></v-divider>

        <v-card-actions class="ml-3">
          <v-card-title class="headline" primary-title>
            Make Favorite
          </v-card-title>
          <div>
            <v-btn
              class="align-self-end orange--text ml-12 ma-2"
              raised
              text
              @click="addFavorite(loadRecipe.id)"
            >
              Favorite
              <v-icon
                :color="color ? 'orange darken-3' : 'grey lighten-2'"
                @click="color = !color"
                class="ml-1"
                size="18"
                >mdi-heart-outline</v-icon
              >
            </v-btn>
            <v-snackbar v-model="snackbarR" top v-if="color" timeout="3000">
              This Recipe added to your Favorite!!
              <v-btn color="white" text @click="snackbarR = false">
                Close
              </v-btn>
            </v-snackbar>
            <v-snackbar v-model="snackbarRC" top timeout="3000">
              This Recipe already added to your Favorite!!
              <v-btn color="white" text @click="snackbarRC = false">
                Close
              </v-btn>
            </v-snackbar>
          </div>
        </v-card-actions>
        <v-divider inset color="grey" class="mt-4 mb-2"></v-divider>
        <v-card-title class="headline ml-6" primary-title>
          {{ loadRecipe ? loadRecipe.comments.length : 0 }}
          Comments
        </v-card-title>
        <v-row class="mx-2 mt-1" align="center">
          <v-col md="4" cols="6">
            <v-avatar size="50" class="ml-6">
              <v-img :src="getUserPhoto" contain height="auto" width="auto" />
            </v-avatar>
          </v-col>
          <v-col md="8" cols="6" class="texta mr-12">
            <v-textarea
              placeholder="Add comment about the recipe"
              color="green darken-4"
              label="Your Comment"
              required
              :disabled="isValidComment"
              rows="1"
              v-model="comment"
              auto-grow
            ></v-textarea>
          </v-col>
          <v-col md="4" cls="6"> </v-col>
        </v-row>
        <div></div>
        <v-btn
          small
          raised
          elevation="3"
          color="orange darken-3"
          class="ml-12 btnn"
          :disabled="isValidComment"
          @click="addComment(loadRecipe.id)"
        >
          Comment
        </v-btn>
        <v-snackbar
          timeout="3000"
          v-model="snackbarC"
          top
          color="green darken-3"
        >
          You add a new Comment!!
          <template v-slot:action="{ attrs }">
            <v-btn color="white" text v-bind="attrs" @click="snackbarC = false">
              Close
            </v-btn>
          </template>
        </v-snackbar>
        <div v-if="loadRecipe">
          <div
            class="headline text-center grey--text  text--darken-2 font-weight-regular mt-4 ml-9 pr-12"
            v-if="loadRecipe.comments.length === 0"
          >
            No comment available for this Recipe!!
          </div>
          <v-list v-else class="ml-12 mt-n5" three-line>
            <template v-for="comment in loadRecipe.comments">
              <v-divider :inset="true"></v-divider>

              <v-list-item :key="comment.id">
                <v-list-item-avatar>
                  <v-img :src="comment.user.photoPath"></v-img>
                </v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title
                    v-html="comment.user.username"
                    class="font-weight-regular body-1"
                  ></v-list-item-title>
                  <v-list-item-title
                    v-html="comment.date"
                    class="font-weight-normal caption"
                  ></v-list-item-title>
                  <v-list-item-subtitle
                    v-html="comment.comment"
                    class="font-weight-normal text--lighten-3 black--text"
                  ></v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </template>
          </v-list>
        </div>
      </v-card>
    </section>
  </v-app>
</template>

<script>
import gql from "graphql-tag";
import deleteRecipe from "~/apollo/recipe/deleteRecipe.gql";
import insertComment from "~/apollo/comment/insertComment.gql";
import insertRating from "~/apollo/rating/insertRating.gql";
import getRatedUser from "~/apollo/rating/getRatedUser.gql";
import updateRating from "~/apollo/rating/updateRating.gql";
import getUserFavorite from "~/apollo/favorite/getUserFavorite.gql";
import insertFavorite from "~/apollo/favorite/insertFavorite.gql";

const INSERT_FAVORITE = gql`
  ${insertFavorite}
`;

const GET_USER_FAVORITE = gql`
  ${getUserFavorite}
`;

const UPDATE_RATING = gql`
  ${updateRating}
`;

const GET_RATED_USER = gql`
  ${getRatedUser}
`;

const INSERT_RATING = gql`
  ${insertRating}
`;

const DELETE_RECIPE = gql`
  ${deleteRecipe}
`;

const INSERT_COMMENT = gql`
  ${insertComment}
`;
export default {
  data() {
    return {
      defaultImage: require("@/assets/images/default.jpg"),
      isValidComment: false,
      snackbar: false,
      snackbarD: false,
      snackbarC: false,
      snackbarR: false,
      snackbarRC: false,
      color: false,
      dialog: false,
      color: false,
      clearable: true,
      rating: 0,
      months: [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ],
      comment: "",
      activeImage: 0,
      singleRecipe: []
    };
  },
  props: {
    recipeId: {
      type: Number,
      required: true
    }
  },
  computed: {
    // CHECKS USER IF IT SEE AUTHOR INFO LINK OR NOT (IF THE USER IS RECIPE AUTHOR HE DOES NOT SEE)
    checkAuthorIdentity() {
      return this.singleRecipe.user.userId ===
        this.$store.getters["user/getUserId"]
        ? false
        : true;
    },

    // CHECKS IF THE USER CAN RATE OR NOT ( IF THE USER IS RECIPE AUTHOR HE CAN NOT RATE)
    ratingValidation() {
      let userId = this.$store.getters["user/getUserId"];
      return this.singleRecipe.user.userId !== userId;
    },

    // CHECKS IF THE USER CAN DELETE OR EDIT THE RECIPE
    settingValidation() {
      let userId = this.$store.getters["user/getUserId"];
      return this.singleRecipe.user.userId === userId;
    },

    // CHECKS THE INPUT FIELD AND DISABLE THE BUTTON
    valid() {
      if (this.comment) {
        return false;
      }
      return true;
    },

    // RETURN CURRENT IMAGE FROM THA ARRAY IF IT EXIST OR DEFAULT IMAGE IF IT DOES NOT
    currentImage() {
      if (this.singleRecipe) {
        if (this.singleRecipe.recipe_images.length != 0) {
          return this.singleRecipe.recipe_images[this.activeImage].path;
        } else return this.defaultImage;
      }
    },

    getUserPhoto() {
      return this.$store.getters["user/getPhotoPath"];
    },

    // LOAD RECIPE FROM STATE AND COMPARE IT WITH PROPS RECIPE
    loadRecipe() {
      let stateHomeRecipe = this.$store.getters["recipe/getHomeRecipe"];
      let stateRecipe = this.$store.getters["recipe/getRecipe"];

      stateHomeRecipe = stateHomeRecipe.find(el => el.id === this.recipeId);
      stateRecipe = stateRecipe.find(el => el.id === this.recipeId);

      if (stateHomeRecipe) this.singleRecipe = stateHomeRecipe;
      else this.singleRecipe = stateRecipe;

      return this.singleRecipe;
    }
  },
  created() {
    this.loadRecipe;
    this.assignRecipe();
  },
  methods: {
    // ASSIGN RECIPE TO DATA FROM STATE
    assignRecipe() {
      this.commentUserValidation();
    },

    // CHECKS WHETHER THE USER CAN COMMENT OR NOT (USER CAN NOT COMMENT ANY RECIPE AGAIN)
    commentUserValidation() {
      let condition = 0;
      let userId = this.$store.getters["user/getUserId"];
      if (this.singleRecipe) {
        condition = this.singleRecipe.comments.length;
      } else this.isValidComment = false;
      if (!(condition === 0)) {
        for (let i = 0; i < this.singleRecipe.comments.length; i++) {
          if (this.singleRecipe.comments[i].user.userId === userId)
            this.isValidComment = true;
          else this.isValidComment = false;
        }
      } else this.isValidComment = false;
    },

    resetComment() {
      this.snackbarC = true;
      this.comment = "";
    },

    // DELETE RECIPE BASED ON ID
    async deleteRecipe(id) {
      let result = confirm("Are sure you want to delete this Recipe?");
      if (result) {
        const variables = {
          id
        };

        await this.$apollo.mutate({
          mutation: DELETE_RECIPE,
          variables
        });

        this.$router.push("/home/recipes");
        this.$store.dispatch("recipe/deleteRecipeA", id);
        this.$store.dispatch("recipe/deleteFavoriteRecipeA", id);
      }
    },

    // INSERT NEW COMMENT TO THE STATE AND DATABASE
    async addComment(id) {
      let year = new Date().getUTCFullYear();
      let month = new Date().getUTCMonth();
      month = this.months[month];
      let day = new Date().getUTCDate();

      let date = `${month} ${day},${year}`;

      let variables = {
        comment: this.comment,
        date,
        recipeId: id,
        userId: this.$store.getters["user/getUserId"]
      };

      let data = await this.$apollo.mutate({
        mutation: INSERT_COMMENT,
        variables
      });

      this.singleRecipe.comments.push(data.data.insert_comments_one);
      this.$store.dispatch("recipe/addCommentA", this.singleRecipe);

      this.isValidComment = true;
      this.resetComment();
    },

    // FUNCTION FOR INSERTING USER RATING FOR PARTICULAR RECIPE
    async addRating(id) {
      let userId = this.$store.getters["user/getUserId"];

      // CHECK IF THE USER RATES THE RECIPE
      let variables = {
        recipe_id: id,
        user_id: userId
      };

      const data = await this.$apollo.query({
        query: GET_RATED_USER,
        variables
      });

      // IF IT RATES BEFORE IT UPDATES THE PREVIOUS VALUE
      if (data.data.rating_aggregate.aggregate.count != 0) {
        let variables = {
          rating_value: this.rating,
          recipe_id: id
        };

        await this.$apollo.mutate({
          mutation: UPDATE_RATING,
          variables
        });

        this.dialog = false;
      } else {
        let variables = {
          rating_value: this.rating,
          recipe_id: id,
          user_id: userId
        };

        await this.$apollo.mutate({
          mutation: INSERT_RATING,
          variables
        });

        this.dialog = false;
      }
    },

    // ADD SPECIFIC RECIPE TO USER FAVORITE
    async addFavorite(id) {
      let userId = this.$store.getters["user/getUserId"];
      let fRecipe = this.$store.getters["recipe/getFavoriteRecipe"];

      fRecipe = fRecipe.filter(el => {
        return el.id === id;
      });

      console.log(fRecipe);
      // CHECK IF THE USER ADD THE RECIPE TO ITS FAVORITE
      let variables = {
        recipeId: id,
        userId: userId
      };

      let data = await this.$apollo.query({
        query: GET_USER_FAVORITE,
        variables
      });

      console.log(data.data);

      // IF IT MAKES FAVORITE BEFORE IT DOES NOTHING
      if (
        data.data.favorite_recipe_aggregate.aggregate.count != 0 ||
        fRecipe.length != 0
      ) {
        this.snackbarRC = true;
        console.log("AGAIN");
      } else {
        let variables = {
          recipeId: id,
          userId: userId
        };

        await this.$apollo.mutate({
          mutation: INSERT_FAVORITE,
          variables
        });
        this.snackbarR = true;
        console.log(this.loadRecipe);
        this.$store.dispatch("recipe/setFavoriteRecipeA", this.loadRecipe);
        console.log(this.$store.getters["recipe/getFavoriteRecipe"]);
      }
    },

    // NAVIGATE TO EDIT EDIT RECIPE WITH RECIPE ID
    toEditRoute(id) {
      this.$router.push(`/home/edit_recipe/${id}`);
    },
    activateSnackBarD() {
      this.snackbarD = true;
    },

    // FUNCTION FOR SETTING NEXT IMAGE
    nextImage() {
      let active = this.activeImage + 1;
      if (active >= this.singleRecipe.recipe_images.length) {
        active = 0;
      }
      this.activateImage(active);
    },

    // FUNCTION FOR SETTING PREVIOUS IMAGE
    prevImage() {
      let active = this.activeImage - 1;
      if (active < 0) {
        active = this.singleRecipe.recipe_images.length - 1;
      }
      this.activateImage(active);
    },

    // FUNCTION FOR SETTING CURRENT IMAGE
    activateImage(ImageIndex) {
      this.activeImage = ImageIndex;
    }
  }
};
</script>

<style scoped>
.v-application .my-12 {
  margin-top: -166px !important;
}

.center {
  margin-right: 251px !important;
}
.v-application .mb-4 {
  margin-bottom: 32px !important;
}
.texta {
  margin-left: -170px !important;
}
.btnn {
  margin-top: -30px;
  margin-bottom: 40px;
  margin-left: 110px !important;
}
.btnmar {
  margin-left: 440px;
  margin-right: 20px;
}
.linkA {
  text-decoration: none;
}
</style>
