<template>
  <v-container>
    <v-hover v-slot:default="{ hover }" close-delay="350">
      <v-card
        v-if="recipe.recipe_images"
        class="py-6 px-4 mb-9"
        color="grey lighten-5"
        flat
        :elevation="hover ? 30 : 12"
        max-height="400"
        max-width="350"
      >
        <v-row dense>
          <v-col cols="12">
            <v-theme-provider dark>
              <div>
                <v-img
                  class="mt-n5"
                  :src="currentImage"
                  height="150"
                  width="auto"
                ></v-img>
              </div>
            </v-theme-provider>
          </v-col>
        </v-row>
        <v-row dense v-if="recipe.recipe_images.length != 0">
          <v-col
            cols="3"
            v-for="(image, index) in recipe.recipe_images"
            :key="image.id"
            @click="activateImage(index)"
          >
            <v-img
              :src="image.path"
              class="white--text align-end mt-n1 mr-n1"
              height="50px"
            >
            </v-img>
          </v-col>
        </v-row>
        <v-card-title
          @click="routeTo"
          class="px-0 mt-n3 mb-n2 justify-left text-uppercase font-weight-bold"
          >{{ recipe.title }}
        </v-card-title>
        <v-card-text
          class="px-0 text-justify body-1"
          v-text="recipe.description"
        >
        </v-card-text>
        <v-card-actions class="px-0 mt-n3">
          <v-icon color="orange darken-3" size="20" class="mr-1"
            >mdi-timer-outline</v-icon
          >
          -
          <span class="ml-1 subtitle-1">
            {{ recipe.prepTime }}
          </span>
        </v-card-actions>
        <v-card-actions class="px-0 mt-n3">
          <v-icon size="20" color="orange darken-3" class="mr-1"
            >mdi-format-list-bulleted-type</v-icon
          >
          -
          <span class="ml-1 subtitle-1">
            {{ recipe.type }}
          </span>
        </v-card-actions>
        <v-card-actions class="px-0 mt-n3">
          <v-icon size="20" color="orange darken-3" class="mr-1"
            >mdi-account-check-outline</v-icon
          >
          -
          <span class="ml-1 subtitle-1"> Prepared By {{ recipe.author }} </span>
        </v-card-actions>
        <v-card-actions class="px-0 mt-n3">
          <span class=" justify-left font-weight-medium body-1"
            >{{ recipe.comments_aggregate.aggregate.count }} reviews</span
          >
          <v-spacer></v-spacer>
          <span class="body-1 mr-2">
            Rating -
          </span>
          <v-rating
            background-color="orange darken-2"
            color="orange darken-3"
            half-increments
            :value="recipe.recipeRating"
            readonly
            dense
            hover
            size="22"
          ></v-rating>
        </v-card-actions>
      </v-card>
    </v-hover>
  </v-container>
</template>
<script>
export default {
  props: {
    recipe: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      defaultImage: `${require("@/assets/images/recipe1.jpg")}`,
      activeImage: 0
    };
  },
  computed: {
    // RETURN CURRENT IMAGE FROM THA ARRAY IF IT EXIST OR DEFAULT IMAGE IF IT DOES NOT
    currentImage() {
      if (this.recipe) {
        if (this.recipe.recipe_images.length != 0) {
          return this.recipe.recipe_images[this.activeImage].path;
        } else return this.defaultImage;
      }
    }
  },
  methods: {
    routeTo() {
      this.$router.push("/signin");
    },

    // FUNCTION FOR SETTING NEXT IMAGE
    nextImage() {
      let active = this.activeImage + 1;
      if (active >= this.recipe.recipe_images.length) {
        active = 0;
      }
      this.activateImage(active);
    },

    // FUNCTION FOR SETTING PREVIOUS IMAGE
    prevImage() {
      let active = this.activeImage - 1;
      if (active < 0) {
        active = this.recipe.recipe_images.length - 1;
      }
      this.activateImage(active);
    },

    // FUNCTION FOR SETTING CURRENT IMAGE
    activateImage(ImageIndex) {
      this.activeImage = ImageIndex;
    }
  }
};
</script>
