<template>
  <v-app>
    <app-single-recipe :recipeId="sendSingleRecipeId" />
    <app-fab-button />
    <app-footer />
  </v-app>
</template>

<script>
export default {
  layout: "dynamic",
  data() {
    return {
      id: parseInt(this.$route.params.id)
    };
  },
  computed: {
    // SEND CURRENT TO BE DISPLAYED RECIPE ID
    sendSingleRecipeId() {
      return this.id;
    }
  }
};
</script>
