$body-font-family: "Raleway";
$heading-font-family: "Raleway";
$font-size-root: 15px;
@import "~vuetify/src/styles/styles.sass";
$pagination-item-height: 40px !default;
$pagination-item-font-size: map-deep-get($headings, "h6", "size") !default;
$pagination-more-width: 40px !default;
$pagination-more-margin: 9rem !default;
