<template>
  <v-app class="sectionM">
    <v-main class="mt-n12 sectionM">
      <v-row no-gutters>
        <v-img :src="image" height="500">
          <v-theme-provider>
            <v-container fill-height align="baseline">
              <v-row
                align="center"
                class="white--text mx-auto"
                justify="center"
              >
                <v-col
                  class="grey--text  text--lighten-4 text-center"
                  cols="12"
                  tag="h1"
                >
                  <span
                    class="font-weight-bold"
                    :class="[
                      $vuetify.breakpoint.smAndDown ? 'display-2' : 'display-4'
                    ]"
                  >
                    Find a Recipe
                  </span>
                </v-col>
                <v-col class="textMar" cols="12">
                  <v-text-field
                    placeholder="Search Recipe by name"
                    v-model="search"
                    append-icon="mdi-magnify"
                    hide-details="auto"
                    dense
                    class="white--text mt-3 ml-12"
                    color="orange darken-3"
                    solo-inverted
                    outlined
                    height="60"
                    style="max-width: 600px; background-color: white"
                  />
                </v-col>
                <v-col>
                  <div
                    class="display-1 text-center grey--text  text--lighten-2 font-weight-bold  text-capitalize mt-5 ml-9 pr-12"
                    color="grey"
                  >
                    COOK, EAT AND BE HAPPY!!
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </v-theme-provider>
        </v-img>
      </v-row>
    </v-main>
    <section class="grey lighten-3">
      <div class="py-8"></div>

      <v-container class="text-center">
        <h2
          class="display-2 font-weight-medium mb-3 mt-n8 grey--text text--darken-3"
        >
          SEARCH RESULT
        </h2>
        <v-responsive class="mx-auto mb-10" width="70">
          <v-divider class="mb-1" color="deep-orange"></v-divider>
        </v-responsive>
        <v-row v-if="stateChanger.length != 0">
          <v-col
            v-for="recipe in stateChanger"
            :key="recipe.id"
            cols="12"
            md="4"
          >
            <card :recipe="recipe" />
          </v-col>
        </v-row>
        <h2
          class="display-1 font-weight-medium grey--text text--darken-3"
          v-else
        >
          NO DATA AVAILABLE TO DISPLAY!!
        </h2>
      </v-container>
      <div class="py-12 "></div>
    </section>
    <app-fab-button />
    <app-footer />
  </v-app>
</template>

<script>
import gql from "graphql-tag";
import getSearchedRecipe from "~/apollo/recipe/getSearchedRecipe.gql";

const GET_SEARCHED_RECIPE = gql`
  ${getSearchedRecipe}
`;
export default {
  layout: "search",
  data() {
    return {
      image: `${require("@/static/homeRecipe.gif")}`,
      page: 1,
      recipe: [],
      search: ""
    };
  },
  computed: {
    // SET CURRENT SEARCHED DATA TO THE STATE
    stateChanger() {
      this.$store.dispatch("recipe/setSearchedRecipeA", this.recipe);
      return this.recipe;
    }
  },

  // SMART QUERY FOR SEARCH BASED ON INPUT FIELD DATA
  apollo: {
    recipe: {
      query: GET_SEARCHED_RECIPE,
      variables() {
        return {
          search: this.search.toLowerCase()
        };
      },
      skip() {
        return !this.search;
      }
    }
  }
};
</script>

<style>
.app {
  margin-top: -10px;
}

.textMar {
  margin-left: 450px !important;
}
.sectionM {
  margin-top: -25% !important;
}

.linkA {
  text-decoration: none;
}
</style>
