<template>
  <div>
    <v-app>
      <v-app-bar color="grey lighten-4" fixed flat class="application">
        <v-layout>
          <v-avatar size="50">
            <v-img
              :src="photoPath"
              class="mr-0 image"
              contain
              height="auto"
              width="auto"
            />
          </v-avatar>
          <nuxt-link
            v-for="(route, i) in routes"
            :key="i"
            :to="route.to"
            class="lists ml-9 button grey--text text--darken-4"
          >
            {{ route.title }}
          </nuxt-link>
          <v-spacer />
          <v-divider vertical class="black mx-1"></v-divider>
          <v-tooltip bottom min-width="90">
            <template v-slot:activator="{ on, attrs }">
              <v-btn icon v-bind="attrs" v-on="on" @click="logOut" class="mr-3">
                <v-icon class="mb-1" size="30" dark>mdi-logout</v-icon>
              </v-btn>
            </template>
            <span>Log Out</span>
          </v-tooltip>
          <v-tooltip bottom min-width="90">
            <template v-slot:activator="{ on, attrs }">
              <v-btn icon v-bind="attrs" v-on="on" @click="toFavoriteRecipe">
                <v-icon class="mb-1" size="30" dark>mdi-heart-outline</v-icon>
              </v-btn>
            </template>
            <span>Favorite Recipe</span>
          </v-tooltip>
          <v-tooltip bottom min-width="90">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                icon
                class="ml-3 mr-4"
                v-bind="attrs"
                v-on="on"
                @click="toNotify"
              >
                <v-badge color="orange darken-2" content="6">
                  <v-icon size="30" dark class=" mb-1">
                    mdi-bell-circle-outline
                  </v-icon>
                </v-badge>
              </v-btn>
            </template>
            <span>Notification</span>
          </v-tooltip>
          <v-tooltip bottom min-width="90">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                class="btn mr-2"
                icon
                large
                @click.stop="settingDialog = true"
                v-bind="attrs"
                v-on="on"
              >
                <v-icon>mdi-account-cog</v-icon>
              </v-btn>
            </template>
            <span>Account Setting</span>
          </v-tooltip>
          <v-dialog v-model="settingDialog" max-width="510">
            <v-card class="elevation-16 mx-auto">
              <v-card-title
                class="display-1 font-weight-medium mb-4  text-capitalize grey--text text--darken-3 justify-center"
                primary-title
              >
                Edit Account Detail
              </v-card-title>
              <v-divider color="orange"></v-divider>
              <v-form>
                <v-card-text>
                  <v-text-field
                    label="Username"
                    autofocus
                    require
                    :rules="[rules.required]"
                    v-model="userName"
                    placeholder="Enter new Username"
                    :clearable="clearable"
                    prepend-icon="mdi-account-edit"
                    clear-icon="mdi-close-box-multiple-outline"
                    color="green darken-4"
                    class="mt-2"
                  ></v-text-field>

                  <v-text-field
                    label="Email"
                    v-model="email"
                    :rules="[rules.required, rules.email]"
                    placeholder="Enter new Email"
                    :clearable="clearable"
                    clear-icon="mdi-close-box-multiple-outline"
                    prepend-icon="mdi-email-edit"
                    color="green darken-4"
                    class="mt-2"
                  ></v-text-field>

                  <v-row align="center" justify="space-around">
                    <v-col>
                      <v-file-input
                        accept="image/*"
                        :clearable="clearable"
                        clear-icon="mdi-close-box-multiple-outline"
                        color="green darken-4"
                        v-model="profileImageUpload"
                        label="Upload Profile Image"
                        prepend-icon="mdi-paperclip"
                        placeholder="Select Profile Image"
                        show-size
                        @change="handleUploadImage"
                      >
                        <template v-slot:selection="{ text }">
                          <v-chip color="green darken-4" dark label small>
                            {{ text }}
                          </v-chip>
                        </template>
                      </v-file-input>
                    </v-col>
                  </v-row>
                </v-card-text>

                <v-divider color="orange"></v-divider>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    outlined
                    text
                    color="red darken-2"
                    @click.stop="settingDialog = false"
                    >Cancel</v-btn
                  >
                  <v-btn
                    outlined
                    text
                    color="orange darken-3"
                    @click="
                      updateUser();
                      settingDialog = false;
                      snackbar = true;
                    "
                    :disabled="buttonValidation"
                  >
                    Save
                  </v-btn>

                  <v-snackbar v-model="snackbar" top>
                    Account Detail Modified!!

                    <template v-slot:action="{ attrs }">
                      <v-btn
                        color="orange darken-2"
                        text
                        v-bind="attrs"
                        @click="snackbar = false"
                      >
                        Close
                      </v-btn>
                    </template>
                  </v-snackbar>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-dialog>
        </v-layout>
      </v-app-bar>

      <v-main>
        <v-row no-gutters>
          <v-img
            :src="image"
            height="500"
            v-if="
              $route.path !== '/home/notification' &&
                $route.path !== '/home/favorite_recipe'
            "
          >
            <v-theme-provider>
              <v-container fill-height align="baseline">
                <v-row
                  align="center"
                  class="white--text mx-auto"
                  justify="center"
                >
                  <v-col
                    class="grey--text  text--lighten-5 text-center"
                    cols="12"
                    tag="h1"
                  >
                    <br />
                    <span
                      class="font-weight-medium"
                      :class="[
                        $vuetify.breakpoint.smAndDown
                          ? 'display-1'
                          : 'display-1'
                      ]"
                    >
                      Hi {{ username }},
                      <v-icon size="40" color="orange darken-3"
                        >mdi-human-greeting</v-icon
                      >
                    </span>
                    <br />
                    <div class="mt-n5 mb-5"></div>
                    <span
                      class="font-weight-medium"
                      :class="[
                        $vuetify.breakpoint.smAndDown
                          ? 'display-2'
                          : 'display-2'
                      ]"
                    >
                      Gebeta
                      <span class="font-weight-bold display-4">RECIPE</span>
                    </span>

                    <div
                      class="subheading text-center font-weight-regular  text-capitalize mt-8 ml-9 pr-12"
                    >
                      COOK, EAT AND BE HAPPY!! Have a nice day!
                    </div>
                  </v-col>
                </v-row>
              </v-container>
            </v-theme-provider>
          </v-img>
          <v-img :src="image" height="370" v-else>
            <v-theme-provider>
              <v-container fill-height align="baseline">
                <v-row
                  align="center"
                  class="white--text mx-auto"
                  justify="center"
                >
                  <v-col
                    class="grey--text  text--lighten-5 text-center"
                    cols="12"
                    tag="h1"
                  >
                    <br />

                    <div class="mt-n5 mb-5"></div>
                    <span
                      class="font-weight-medium"
                      :class="[
                        $vuetify.breakpoint.smAndDown
                          ? 'display-2'
                          : 'display-2'
                      ]"
                    >
                      Gebeta
                      <span class="font-weight-bold display-4">RECIPE</span>
                    </span>

                    <div
                      class="subheading text-center font-weight-regular  text-capitalize mt-8 ml-9 pr-12"
                    >
                      COOK, EAT AND BE HAPPY!! Have a nice day!
                    </div>
                  </v-col>
                </v-row>
              </v-container>
            </v-theme-provider>
          </v-img>
        </v-row>
      </v-main>
    </v-app>
    <nuxt />
  </div>
</template>

<script>
import gql from "graphql-tag";
import { gapi } from "gapi-script";
import updateUsers from "~/apollo/users/updateUsers.gql";
import uploadUserImage from "~/apollo/image/uploadUserImage.gql";

const UPDATE_USER = gql`
  ${updateUsers}
`;

const UPLOAD_USER_IMAGE = gql`
  ${uploadUserImage}
`;

export default {
  middleware: "auth-middleware",
  data() {
    return {
      image: `${require("@/static/homeRecipe.gif")}`,
      routes: [
        { title: "Home", to: "/home" },
        { title: "Create Recipe", to: "/home/create_recipe" },
        { title: "Your Recipe", to: "/home/recipes" },
        { title: "Search", to: "/home/search" },
        { title: "About Us", to: "/home/aboutus" }
      ],
      rules: {
        required: value => {
          return !!value || "Required.";
        },
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Invalid e-mail.";
        }
      },
      dialog: false,
      settingDialog: false,
      clearable: true,
      snackbar: false,
      userName: "",
      email: "",
      userId: "",
      profileImageUpload: null,
      userPhoto: ""
    };
  },
  methods: {
    toNotify() {
      this.$router.push("/home/notification");
    },

    toFavoriteRecipe() {
      this.$router.push("/home/favorite_recipe");
    },
    // RESET FIELDS
    resetFields() {
      this.userName = "";
      this.email = "";
      this.profileImageUpload = null;
      this.userPhoto = "";
    },

    // CLOSE ACCOUNT DETAIL EDIT DIALOG
    cancel(bool) {
      this.dialog = bool;
    },

    // LOG OUT FUNCTION - TOKEN AND STATE DELETION
    logOut() {
      localStorage.setItem("token", "");
      let auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(() => {
        console.log("SIGNED OUT!!");
      });

      this.$store.dispatch("user/removeStateA");
      this.$store.dispatch("recipe/removeStateRA");

      this.$router.push("/signin");
    },

    // FUNCTION FOR UPDATING USER INFORMATION
    async updateUser() {
      const userId = this.userID;

      const variables = {
        email: this.email,
        username: this.userName,
        userId
      };

      // UPDATING USER INFORMATION
      await this.$apollo.mutate({
        mutation: UPDATE_USER,
        variables
      });

      const photoVariable = {
        photoPath: this.userPhoto,
        userId
      };

      // UPDATING PROFILE IMAGE
      const imageUp = await this.$apollo.mutate({
        mutation: UPLOAD_USER_IMAGE,
        variables: photoVariable
      });

      // UPDATING STATE
      this.$store.dispatch("user/setUsernameA", this.userName);
      this.$store.dispatch("user/setEmailA", this.email);
      this.$store.dispatch(
        "user/setPhotoPathA",
        imageUp.data.uploadUserImage.photoPath
      );

      this.resetFields();
    },

    // SELECTED IMAGE HANDLER
    handleUploadImage(e) {
      const selectedImage = e;

      this.createBase64Image(selectedImage);
    },

    // FUNCTION FOR CREATING BASE 64 IMAGE FORMAT
    createBase64Image(fileObject) {
      const reader = new FileReader();

      reader.onload = e => {
        this.userPhoto = e.target.result;
      };

      reader.readAsDataURL(fileObject);
    }
  },

  computed: {
    username() {
      return this.$store.getters["user/getUsername"];
    },
    photoPath() {
      return this.$store.getters["user/getPhotoPath"];
    },
    userID() {
      return this.$store.getters["user/getUserId"];
    },

    // CONTROLS BUTTON ACTIVATION BASED ON INPUT RULE
    buttonValidation() {
      if (this.userName && this.email && this.profileImageUpload) {
        return false;
      }
      return true;
    }
  }
};
</script>

<style scoped>
.application {
  font-family: "Raleway", sans-serif !important;
}

.image {
  margin-right: 10px;
}

.button {
  margin-right: 5px;
  text-decoration: none;
  font-weight: 400;
}

.btn {
  margin-right: -17px;
}

.span {
  text-transform: capitalize;
}

.lists:link,
.lists:visited {
  padding: 10px 0;
  color: #fff;
  font-size: 130%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}

.lists:hover {
  transition: border-bottom 0.5s;
  border-bottom: 2px solid #e67e22;
}

.nuxt-link-exact-active.lists {
  border-bottom: 2px solid #e67e22;
}

.row.white--text.mx-auto.align-center.justify-center {
  margin-top: -84px;
}

.v-application .mt-8 {
  margin-top: 62px !important;
}

.v-application .mt-n9 {
  margin-top: -10px !important;
}
.v-application .mt-n12 {
  margin-top: 0px !important;
}

.v-application .ma-9 {
  margin: 11px !important;
}

.v-application .mt-n5 {
  margin-top: 2px !important;
}
</style>
