<template>
  <v-app color="grey darken-2 m">
    <v-img
      :min-height="'calc(100vh - ' + $vuetify.application.top + 'px)'"
      :src="image"
    >
      <div v-if="error.statusCode === 404">
        <v-row align="center" class="white--text mx-auto" justify="center">
          <v-col
            class="grey--text  text--lighten-2 text-center"
            cols="12"
            tag="h1"
          >
            <v-avatar class="elevation-12 mb-12" size="100">
              <v-img :src="favicon"></v-img>
            </v-avatar>
            <br />
            <span
              class="font-weight-bold "
              :class="[
                $vuetify.breakpoint.smAndDown ? 'display-3' : 'display-4'
              ]"
            >
              ERROR OCCURRED
            </span>
            <br />
            <div
              class="display-2 text-center font-weight-regular font-italic text-capitalize mb-n12 mt-8 mr-12 pr-12"
            >
              {{ pageNotFound }}
            </div>
          </v-col>
        </v-row>
      </div>
      <div v-else>
        <v-row
          align="center"
          class="white--text mx-auto  mt-n12"
          justify="center"
        >
          <v-col
            class="grey--text  text--lighten-2 text-center"
            cols="12"
            tag="h1"
          >
            <v-avatar class="elevation-12 mb-12 mt-12" size="100">
              <v-img :src="favicon"></v-img>
            </v-avatar>
            <br />
            <span
              class="font-weight-bold"
              :class="[
                $vuetify.breakpoint.smAndDown ? 'display-3' : 'display-4'
              ]"
            >
              ERROR OCCURRED
            </span>
            <br />
            <div
              class="display-2 text-center font-weight-regular font-italic text-capitalize mb-12 mt-8 mr-12 pr-12"
            >
              {{ otherError }}
            </div>
          </v-col>
        </v-row>
      </div>
      <v-row
        align="center"
        class="white--text mx-auto mb-12 mt-12"
        justify="center"
      >
        <v-col
          class="grey--text  text--darken-5 text-center"
          cols="12"
          tag="h1"
        >
          <v-btn
            class="ma-2"
            color="orange darken-4"
            raised
            dark
            large
            @click="to"
          >
            HOMEPAGE
          </v-btn>
        </v-col>
      </v-row>
    </v-img>
  </v-app>
</template>

<script>
export default {
  layout: "errorLayout",
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      pageNotFound: "404 Page Not Found",
      otherError: "Something is Wrong!!",
      favicon: `${require("@/static/favicon.png")}`,
      image: `${require("@/static/food3.jpg")}`
    };
  },
  methods: {
    to() {
      this.$router.push("/");
    }
  },

  head() {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError;
    return {
      title
    };
  }
};
</script>

<style scoped></style>
