<template>
  <div id="application">
    <v-app app>
      <v-main>
        <v-row>
          <v-img max-height="400px" src="loginRecipe.gif">
            <v-theme-provider>
              <v-container fill-height align="start">
                <v-row
                  align="center"
                  class="white--text mx-auto"
                  justify="center"
                >
                  <v-col
                    class="grey--text  text--lighten-2 text-left"
                    cols="12"
                    tag="h1"
                  >
                    <span
                      class="font-weight-bold"
                      :class="[
                        $vuetify.breakpoint.smAndDown
                          ? 'display-2'
                          : 'display-3'
                      ]"
                    >
                      Explore the foodie in you
                    </span>

                    <br />

                    <div
                      class="subheading font-weight-regular text-capitalize mb-12 mt-12 mr-12 pr-12"
                    >
                      Cook together, stay together GEBETA
                    </div>
                  </v-col>
                </v-row>
              </v-container>
            </v-theme-provider>
          </v-img>
        </v-row>
      </v-main>
    </v-app>
    <nuxt />
  </div>
</template>

<style>
.application {
  font-family: "Raleway", sans-serif !important;
}
</style>
