<template>
  <div id="application">
    <v-app app>
      <v-main class="mb-n12">
        <v-row>
          <v-img max-height="400px" src="food3.jpg">
            <v-theme-provider>
              <v-container fill-height align="start">
                <v-row
                  align="center"
                  class="white--text mx-auto"
                  justify="center"
                >
                  <v-col
                    class="grey--text  text--lighten-2 text-center"
                    cols="12"
                    tag="h1"
                  >
                    <span
                      class="font-weight-medium"
                      :class="[
                        $vuetify.breakpoint.smAndDown
                          ? 'display-2'
                          : 'display-3'
                      ]"
                    >
                      Welcome to
                      <span class=" display-4 font-weight-bold"
                        >GEBETA RECIPE</span
                      >
                    </span>

                    <br />

                    <div
                      class="subheading font-weight-regular text-capitalize mb-12 mt-12 mr-12 ml-n12 mar pr-12"
                    >
                      The ABC of food.
                    </div>
                    <v-btn
                      class="ma-2"
                      color="orange darken-4"
                      raised
                      dark
                      large
                      to="/signin"
                    >
                      Get Started
                      <v-icon dark right size="22">mdi-account-details</v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-container>
            </v-theme-provider>
          </v-img>
        </v-row>
      </v-main>
    </v-app>
    <nuxt />
  </div>
</template>

<style>
.application {
  font-family: "Raleway", sans-serif !important;
}
.v-application--wrap {
  min-height: 63vh !important;
}
</style>
