<template>
  <v-app>
    <section class="mt-n12">
      <div></div>
      <app-about-us />
    </section>

    <div class="py-3"></div>

    <app-home-recipe class="grey lighten-4" />

    <app-footer />
  </v-app>
</template>

<script>
export default {
  layout: "home",
  data() {
    return {};
  }
};
</script>

<style scoped></style>
