<template>
  <v-app dark>
    <section id="signin" class="layout grey lighten-4 mt-n12">
      <v-container fluid>
        <div class="text-center">
          <v-alert
            text
            dense
            type="success"
            :value="alert"
            transition="scale-transition"
            >You are Successfully Logged In!!</v-alert
          >
          <v-alert
            dense
            outlined
            type="error"
            :value="eAlert"
            transition="scale-transition"
            >Login Failed!! Something is Wrong!!</v-alert
          >
          <v-avatar class="elevation-9 mb-6" size="75">
            <v-icon size="91">mdi-account-circle</v-icon>
          </v-avatar>
        </div>
        <v-row justify="center" class="mb-8">
          <v-col cols="12" md="6">
            <v-sheet elevation="5" class="pa-12" color="grey lighten-4">
              <div
                class="mt-n4 text-center display-1 font-weight-medium mb-4  text-capitalize grey--text text--darken-3"
              >
                Are you interested, Please Sign in
              </div>
              <div class="text-center mb-10 grey--text text--darken-3">
                with Google Account.

                <googleSignIn
                  :theme="'dark'"
                  :className="'gbtn'"
                  :buttonWidth="20"
                  :buttonHeight="20"
                  :clientId="
                    '113639187898-mitvbb8o6d87fpvjrdv97tijgkt45q34.apps.googleusercontent.com'
                  "
                  :successCallBack="onSignIn"
                  :failureCallBack="getFailureData"
                />
              </div>
            </v-sheet>
          </v-col>
        </v-row>
      </v-container>
    </section>
    <app-footer />
  </v-app>
</template>

<script>
import gql from "graphql-tag";
import googleSignIn from "google-signin-vue/src/googleSignIn.vue";
import googleLogin from "~/apollo/users/googleLogin.gql";

const GOOGLE_LOGIN = gql`
  ${googleLogin}
`;

export default {
  layout: "first",
  name: "app",
  components: {
    googleSignIn
  },
  data() {
    return {
      alert: false,
      eAlert: false
    };
  },
  methods: {
    // GOOGLE LOGIN HANDLER ,USER STATE SETTER AND TOKEN SETTER IN LOCAL STORAGE
    async onSignIn(googleUser) {
      this.alert = true;
      const token = googleUser.id_token;
      const variables = {
        token
      };

      const data = await this.$apollo.mutate({
        mutation: GOOGLE_LOGIN,
        variables
      });
      console.log(data);

      this.$store.dispatch("user/setAccessTokenA", data.data.googleLogin.token);
      this.$store.dispatch("user/setUserIdA", data.data.googleLogin.userId);
      this.$store.dispatch("user/setUsernameA", data.data.googleLogin.username);
      this.$store.dispatch("user/setEmailA", data.data.googleLogin.email);
      this.$store.dispatch(
        "user/setPhotoPathA",
        data.data.googleLogin.photoPath
      );
      this.$store.dispatch("user/setRoleA", data.data.googleLogin.role);

      localStorage.setItem("token", data.data.googleLogin.token);

      if (localStorage.getItem("token") !== "") {
        this.$router.push("/home");
      }
    },

    getFailureData(errorData) {
      this.eAlert = true;
      console.log(errorData.error);
    }
  }
};
</script>

<style scoped>
.gbtn {
  margin-top: 25px;
  margin-left: 225px;
}
</style>
