<template>
  <v-app dark>
    <section class="layout mt-n12 grey lighten-4">
      <v-container fluid>
        <v-row justify="center" class="mb-8">
          <v-col cols="12" md="6">
            <v-sheet
              elevation="12"
              class="pa-12"
              color="grey lighten-5"
              width="740"
            >
              <v-alert
                text
                dense
                type="success"
                :value="alert"
                transition="scale-transition"
                >You created a new Recipe Successfully!!</v-alert
              >
              <div
                class="mt-n4 text-center display-3 font-weight-medium mb-4  text-capitalize grey--text text--darken-3"
              >
                Create Recipe
              </div>

              <div class="text-center mb-6 grey--text text--darken-3">
                Food ought to be enjoyable!
              </div>
              <v-divider color="orange"></v-divider>
              <div class="mb-6"></div>
              <v-text-field
                label="Title"
                autofocus
                required
                placeholder="Enter Recipe title"
                :clearable="clearable"
                prepend-inner-icon="mdi-format-title"
                clear-icon="mdi-close-box-multiple-outline"
                color="green darken-4"
                class="mt-2"
                v-model="title"
              ></v-text-field>
              <v-textarea
                auto-grow
                prepend-icon="mdi-text-box"
                placeholder="Enter Recipe Description"
                :clearable="clearable"
                clear-icon="mdi-close-box-multiple-outline"
                color="green darken-4"
                label="Description"
                rows="1"
                v-model="description"
              ></v-textarea>
              <v-select
                :clearable="clearable"
                prepend-icon="mdi-order-bool-ascending-variant"
                clear-icon="mdi-close-box-multiple-outline"
                :items="types"
                label="Choose Type"
                color="green darken-4"
                v-model="type"
              ></v-select>
              <v-select
                :clearable="clearable"
                prepend-icon="mdi-order-bool-ascending-variant"
                clear-icon="mdi-close-box-multiple-outline"
                :items="items"
                label="Choose Difficulty"
                color="green darken-4"
                v-model="difficulty"
              ></v-select>

              <v-text-field
                label="Number of Servant"
                prepend-icon="mdi-account-multiple-plus-outline"
                required
                placeholder="Enter Number of Servant"
                :clearable="clearable"
                clear-icon="mdi-close-box-multiple-outline"
                color="green darken-4"
                class="mt-2"
                min="1"
                type="number"
                style="width: 280px"
                v-model="numberServant"
              ></v-text-field>

              <v-row align="center">
                <v-col class="d-flex" cols="12" sm="6">
                  <v-select
                    :clearable="clearable"
                    prepend-icon="mdi-order-bool-ascending-variant"
                    clear-icon="mdi-close-box-multiple-outline"
                    :items="time"
                    label="Choose Time Measurement"
                    color="green darken-4"
                    v-model="prepTimeC"
                  ></v-select>
                </v-col>

                <v-col class="d-flex" cols="12" sm="6">
                  <v-text-field
                    label="Preparation Time"
                    prepend-icon="mdi-timer-outline"
                    required
                    placeholder="Enter Recipe Preparation Time"
                    :clearable="clearable"
                    clear-icon="mdi-close-box-multiple-outline"
                    color="green darken-4"
                    min="1"
                    type="number"
                    class="mt-2"
                    style="width: 280px"
                    v-model="prepTime"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row
                v-for="(ingredient, i) in ingredients"
                :key="i"
                align="center"
                justify="space-around"
              >
                <v-col cols="4">
                  <v-text-field
                    label="Ingredient Name"
                    required
                    prepend-icon="mdi-package"
                    placeholder="Enter Ingredient Name"
                    :clearable="clearable"
                    clear-icon="mdi-close-box-multiple-outline"
                    color="green darken-4"
                    class="mt-2"
                    v-model="ingredient.name"
                  ></v-text-field>
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    label="Quantity"
                    required
                    prepend-icon="mdi-size-s"
                    placeholder="Enter Ingredient Quantity"
                    :clearable="clearable"
                    clear-icon="mdi-close-box-multiple-outline"
                    color="green darken-4"
                    class="mt-2"
                    type="number"
                    min="0.25"
                    step="0.25"
                    v-model="ingredient.quantity"
                  ></v-text-field>
                </v-col>
                <v-col cols="3">
                  <v-select
                    :clearable="clearable"
                    prepend-icon="mdi-order-bool-ascending-variant"
                    clear-icon="mdi-close-box-multiple-outline"
                    :items="quantity"
                    label="Choose Measurement"
                    color="green darken-4"
                    v-model="ingredient.quantityM"
                  ></v-select>
                </v-col>
                <v-col class="mt-n4">
                  <v-btn
                    outlined
                    x-small
                    color="green darken-2"
                    icon
                    class="mr-2"
                    @click="addIngredient(i)"
                    v-show="i == ingredients.length - 1"
                  >
                    <v-icon>mdi-plus</v-icon></v-btn
                  >
                  <v-btn
                    outlined
                    x-small
                    color="red darken-2"
                    icon
                    @click="removeIngredient(i)"
                    v-show="i || (!i && ingredients.length > 1)"
                  >
                    <v-icon>mdi-alpha-x</v-icon></v-btn
                  >
                </v-col>
              </v-row>
              <v-row
                v-for="(step, k) in steps"
                :key="'i' + k"
                align="center"
                class="ml-n3 mt-n3"
              >
                <v-col cols="10" class="mr-0">
                  <v-text-field
                    label="Instruction (step)"
                    required
                    prepend-icon="mdi-debug-step-into"
                    placeholder="Enter the Instruction (step)"
                    :clearable="clearable"
                    clear-icon="mdi-close-box-multiple-outline"
                    color="green darken-4"
                    class="mt-2"
                    v-model="step.instruction"
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-btn
                    outlined
                    x-small
                    color="green darken-2"
                    icon
                    class="mr-3"
                    @click="addStep(k)"
                    v-show="k == steps.length - 1"
                  >
                    <v-icon>mdi-plus</v-icon></v-btn
                  >
                  <v-btn
                    outlined
                    x-small
                    color="red darken-2"
                    icon
                    @click="removeStep(k)"
                    v-show="k || (!k && steps.length > 1)"
                  >
                    <v-icon>mdi-minus</v-icon></v-btn
                  >
                </v-col>
              </v-row>
              <v-row align="center" justify="space-around">
                <v-col>
                  <v-file-input
                    accept="image/*"
                    :clearable="clearable"
                    multiple
                    prepend-icon="mdi-upload-multiple"
                    clear-icon="mdi-close-box-multiple-outline"
                    color="green darken-4"
                    label="Recipe Image"
                    placeholder="Select Recipe Image"
                    show-size
                    v-model="recipeImageUpload"
                    @change="handleMultipleImage"
                  >
                    <template v-slot:selection="{ text }">
                      <v-chip color="green darken-4" dark label small>
                        {{ text }}
                      </v-chip>
                    </template>
                  </v-file-input>
                </v-col>
              </v-row>

              <div class="mt-4"></div>

              <v-btn class="btnMar" outlined text red darken-2 @click="cancel"
                >Cancel</v-btn
              >

              <v-btn
                outlined
                text
                color="orange darken-3"
                @click="createRecipe"
                :disabled="buttonValidationA"
              >
                Save
              </v-btn>
            </v-sheet>
          </v-col>
        </v-row>
      </v-container>
    </section>
    <app-footer />
  </v-app>
</template>

<script>
import gql from "graphql-tag";
import insertRecipe from "~/apollo/recipe/insertRecipe.gql";
import insertIngredient from "~/apollo/ingredient/insertIngredient.gql";
import insertStep from "~/apollo/step/insertStep.gql";
import uploadRecipeImage from "~/apollo/image/uploadRecipeImage.gql";

const INSERT_RECIPE = gql`
  ${insertRecipe}
`;

const INSERT_INGREDIENT = gql`
  ${insertIngredient}
`;

const INSERT_STEP = gql`
  ${insertStep}
`;

const INSERT_RECIPE_IMAGE = gql`
  ${uploadRecipeImage}
`;

export default {
  data() {
    return {
      alert: false,
      clearable: true,
      items: ["Easy", "Medium", "Hard"],
      title: "",
      description: "",
      difficulty: "",
      numberServant: "",
      prepTime: "",
      rating: 0,
      recipeImageUpload: null,
      ingredients: [
        {
          name: "",
          quantity: "",
          quantityM: ""
        }
      ],
      steps: [
        {
          instruction: ""
        }
      ],
      type: "",
      prepTimeC: "",
      recipeImage: [],
      time: ["Hour", "Minute"],
      quantity: ["Kg", "g", "L", "ml", "Tea Spoon"],
      types: [
        "General",
        "Soup",
        "Salads",
        "Appetizers",
        "Dessert",
        "Lunch",
        "Breakfast",
        "Dinner",
        "Pizza",
        "Noodles",
        "Burgers",
        "Chicken"
      ]
    };
  },
  methods: {
    // FUNCTION TO RESET ALL INPUT FIELDS AFTER INSERTING
    resetFields() {
      this.prepTimeC = "";
      this.title = "";
      this.description = "";
      this.recipeImageUpload = null;
      this.difficulty = "";
      this.numberServant = "";
      this.rating = 0;
      this.ingredients = [{ name: "", quantity: "", quantityM: "" }];
      this.steps = [{ instruction: "" }];
      this.prepTime = "";
      this.recipeImage = [];
      this.type = "";
    },

    // FUNCTION FOR CREATING NEW RECIPE
    async createRecipe() {
      const userId = this.$store.getters["user/getUserId"];

      const user = {
        userId,
        username: this.$store.getters["user/getUsername"],
        photoPath: this.$store.getters["user/getPhotoPath"]
      };
      let iData = [];
      let sData = [];
      let rData = [];

      this.prepTime = `${this.prepTime} ${this.prepTimeC}`;

      let variables = {
        title: this.title.toLowerCase(),
        description: this.description,
        difficulty: this.difficulty,
        prepTime: this.prepTime,
        numberServant: this.numberServant,
        type: this.type,
        userId
      };

      const data = await this.$apollo.mutate({
        mutation: INSERT_RECIPE,
        variables
      });

      // IF INSERTING RECIPE IS SUCCESSFUL IT INSERTS STEPS, INGREDIENTS AND IMAGES

      if (data.data.insert_recipe_one) {
        // INSERTING INGREDIENTS
        for (let i = 0; i < this.ingredients.length; i++) {
          this.ingredients[
            i
          ].quantity = `${this.ingredients[i].quantity} ${this.ingredients[i].quantityM}`;
          variables = {
            recipeId: data.data.insert_recipe_one.id,
            name: this.ingredients[i].name,
            quantity: this.ingredients[i].quantity
          };

          let ing = await this.$apollo.mutate({
            mutation: INSERT_INGREDIENT,
            variables
          });
          iData.push(ing.data.insert_ingredients_one);
        }

        // INSERTING STEPS
        for (let i = 0; i < this.steps.length; i++) {
          variables = {
            recipeId: data.data.insert_recipe_one.id,
            step: this.steps[i].instruction
          };

          let s = await this.$apollo.mutate({
            mutation: INSERT_STEP,
            variables
          });
          sData.push(s.data.insert_steps_one);
        }

        // INSERTING IMAGES
        for (let i = 0; i < this.recipeImage.length; i++) {
          variables = {
            image: this.recipeImage[i],
            recipeId: data.data.insert_recipe_one.id
          };
          let r = await this.$apollo.mutate({
            mutation: INSERT_RECIPE_IMAGE,
            variables
          });
          rData.push(r.data.uploadRecipeImage);
        }

        let allData = {
          ingredients: iData,
          steps: sData,
          recipe_images: rData,
          user,
          ...data.data.insert_recipe_one
        };

        this.$store.dispatch("recipe/setRecipeA", allData);
        this.alert = true;
        console.log("Recipe - ", this.$store.getters["recipe/getRecipe"]);

        this.resetFields();
      }
    },
    cancel() {
      this.resetFields();
    },

    // ADD DYNAMIC INPUT FIELDS FOR INGREDIENT
    addIngredient() {
      this.ingredients.push({ name: "", quantity: "", quantityM: "" });
    },

    // REMOVE DYNAMIC INPUT FIELDS FOR INGREDIENT
    removeIngredient(index) {
      this.ingredients.splice(index, 1);
    },

    // ADD DYNAMIC INPUT FIELDS FOR STEPS
    addStep() {
      this.steps.push({ instruction: "" });
    },

    //REMOVE DYNAMIC INPUT FIELDS FOR STEPS
    removeStep(index) {
      this.steps.splice(index, 1);
    },

    // HANDLER FOR RECIPE IMAGE
    handleMultipleImage(e) {
      const selectedImage = e;

      for (let i = 0; i < e.length; i++) {
        this.createBase64Image(selectedImage[i]);
      }
    },

    // FUNCTION FOR CREATING BASE 64 TYPE IMAGE FILE TO BE SENT
    createBase64Image(fileObject) {
      const reader = new FileReader();

      reader.onload = e => {
        this.recipeImage.push(e.target.result);
      };

      reader.readAsDataURL(fileObject);
    }
  },
  computed: {
    //DEACTIVATE BUTTON UNTIL CERTAIN FIELDS ARE ENTERED
    buttonValidationA() {
      if (this.title && this.description && this.recipeImageUpload) {
        return false;
      }
      return true;
    }
  }
};
</script>

<style scoped>
.btnMar {
  margin-left: 452px;
  margin-right: 20px;
}
</style>
